@CHARSET "UTF-8";

.country {
	fill: #ccc;
	stroke: #fff;
	cursor: pointer;
	stroke-width: .5px;
}
.country:hover{
  stroke: #fff;
  stroke-width: .8px;
}
#container {
  margin:10px 10%;
  padding:20px;
  border:2px solid #d0d0d0;
  border-radius: 5px;
  height:100%;
}
.hidden { 
  display: none; 
}
div.tooltipMap {
  color: #222; 
  background: #fff; 
  padding: .5em; 
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px; 
  box-shadow: 0px 0px 2px 0px #a6a6a6; 
  opacity: 0.9; 
  position: absolute;
}

.arc {
  fill: none;
  stroke: red;
  stroke-width: 3px;
  stroke-linecap: round;
 }

path.export, path.import {
	fill: none;
	stroke-width: 3px;
	stroke-linecap: round;
}

path.export {
	stroke: red;
}
circle.export {
	fill: red;
}

path.import {
	stroke: blue;
}
circle.import {
	fill: blue;
}

.selected_country {
	opacity: .6;
}

circle {
  fill: steelblue;
  fill-opacity: .8;
  stroke: #fff;
} 
