body {
	cursor: default;
	background: #FFF;
	color: #000;
	overflow-y: scroll;
}

a:hover {
	cursor: pointer;
}

a:focus {
	outline: 0 ! important;
}

nav {
	margin: 0;
}


h1 {
	font-size: 48px;
}


.container {
	min-width: 1170px;
}


#filters select.form-control {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 8px;
}

#filters > div.form-group > label {
	opacity: 0.6;
}


#sliderBar .slider.slider-horizontal {
	width: 100% !important;
}


.opacity0 {
	opacity: 0;
}

.opacity50 {
	opacity: 0.5;
}

.opacity75 {
	opacity: 0.75;
}





#tooSmallAlert {
	margin-top: 15px;
}



#sliderBar {
	height: 60px;
	padding-top: 18px;
}

#yearBar {
	padding-top: 10px;
}

#currYear {
	text-align: right;
	width: 100%;
	max-width: 100px;
	margin: 0px auto;
}

#zoomBar {
	padding-top: 10px;
	text-align: right;
}

#zoomBar select {
	width: 200px;
	display: inline;
	padding: 7px 10px;
}

#bigMapContainer {
	margin-top: 15px;
}

#mapContainer {
	border: solid 1px black;
	height: 650px;
	padding: 0px;
	overflow: hidden;
}

#map {
	border: none;
	height: 600px;
}

#dataTableContainer {
	margin-top: 15px;
	margin-bottom: 20px;
	min-height: 300px;
}

#dataTableContainer tr th:nth-child(3), #dataTableContainer tr td:nth-child(3) {
	text-align: right;
}





.presentationSlide .container {
	margin-top: 80px;
}

.presentationSlide {
	z-index: 101;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: rgba(255, 255, 255, 0.90);
	display: none;
}

.presentationSlide .container p:last-child {
	text-align: right;
}